@using Jarboo.Protoypes.GithubPuller.Helpers
@if (SecurityHelper.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + SecurityHelper.CurrentUser.Name + "!", "Index", "Project", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Log off", "Logout", "Home", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>
}

